:root {
  --light-grey: #484848;
  --white: #dddddd;
  --black: #222222;
  --purple: #311a91;
}

.up {
  width: 64px;
  height: 64px;
  position: fixed;
  bottom: 16px;
  right: 16px;
  border-radius: 4px;
  background-color: var(--purple);
  z-index: 1;
  transition: 0.6s;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.up:hover {
  -webkit-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.75);
}

.up a {
  height: 100%;
  width: 100%;
  display: block;
  text-decoration: none;
}

.up a img {
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 32px;
  height: 32px;
}

@media (max-width: 800px) {
  .up {
      width: 48px;
      height: 48px;
  }
  .up a img {
      width: 24px;
      height: 24px;
  }
}

/*  ++++  NAVBAR  ++++  */

.navbar-resposive {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--purple);
  position: fixed;
  top: 10px;
  right: 10px;
  display: none;
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  z-index: 11;
}

.navbar-resposive img {
  width: 24px;
  height: 24px;
  position: relative;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.navbar {
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: right;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.4);
}

.navbar-ul {
  height: 100%;
  width: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-li {
  padding-left: 8px;
  padding-right: 8px;
  height: 100%;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}

.navbar-li a {
  text-decoration: none;
  color: var(--white);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;   
  transition: 0.4s; 
}

.navbar-li a:hover {
  color: var(--purple);
}

@media (max-width: 800px) {

  .navbar-resposive { display: block; }

  .navbar {
      position: fixed;
      top: 0;
      left: -100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      width: 100%;
      height: 100%;
      background-color: var(--black);
      z-index: 5;
      transition: 0.6s;
  }

  .navbar-ul {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
  }

  .navbar-li {
      font-size: 16px;
      letter-spacing: 2px;
      text-transform: uppercase;
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;
      opacity: 0;
  }
  
  .navbar-li a {
      text-decoration: none;
      color: var(--white);
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-items: center;    
  }    
}

.all-content {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-content-div {
  width: 1000px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

@media (max-width: 800px) {
  .all-content-div {
    width: 100%;
    box-shadow: none;
  }
}